<!DOCTYPE html>
<html>
  <head>
    <title>Pianoblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>










      <!-- notice wrapper reference -->
      <!-- Devise Alerts -->





      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to "Pianoblog", posts_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav ml-auto">
          <li class="nav-item active float-right">
            <!-- Appropriate link to the status of the viewer i.e ("sign in as" ) or log in/ log out-->
              <% if current_user %>
                Signed in as <%=current_user.email %>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to 'Login/Sign Up', new_user_session_path %>

              <% end %>

          </li>
        </ul>

      </div>
    </nav>
    <!-- Flash message  -->

    <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
                <%= value %>
          </div>
    <% end %>
    
      <%= yield %>



  </body>
</html>
